/* Tags */
body {
	font-family: 'Roboto Mono', monospace;
}
img	{
	border: 5px solid #4497fc;
  	padding: 3px;
	width: 175px;

}

/* IDs */
#content {
	padding: 64px;
}
#header {
	padding: 16px;
}
#name {
	color: ;
	padding: 24px;
}

/* Classes */
.section {
	padding-top: 32px;
	padding-bottom: 32px;
}
.section a {
	color: black;
}
.section a:hover {
	color: grey;
}
